---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('./posts/*.md');
const pageTitle = 'gregory pappas: blog';
---
        <BaseLayout pageTitle={pageTitle}>
        <h2>blog</h2>
        <p>Look I am blogging</p>
        <ul>
            {allPosts.map((post)=> 
                <BlogPost url={post.url} title={post.frontmatter.title}/>
            )}
        </ul>
        </BaseLayout>
        <script>
			import "../scripts/menu.js";
		</script>
	</body>
</html>
