---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
const pageTitle = 'gregory pappas: blog';
---
        <BaseLayout pageTitle={pageTitle}>
        <h2>blog</h2>
        <p>Look I am blogging</p>
        <ul>
            <li>
                <a href="/posts/one">First post!</a>
            </li>
            <li>
                <a href="/posts/two">Second post!</a>
            </li>
            <li>
                <a href="/posts/three">Third post!</a>
            </li>
        </ul>
        </BaseLayout>
        <script>
			import "../scripts/menu.js";
		</script>
	</body>
</html>
