---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h3>Welcome</h3>
			<hr>
			<p>
				My name is Greg Pappas, and I am a Full-Stack Developer Student @ Galvanize.
			</p>
			<p>
				I will occasionally be posting blogs on my progress to becoming a junior dev, as well as link some of my completed projects.
			</p>
			<h4>Skills</h4>
			<hr>
				<p>React, Astro, Typescript, JavaScript, HTML, TailwindCSS, CSS, Node, Express, Docker, PostgreSQL, Git, Vite, Figma, Photoshop</p>
			<h4>Contact</h4>
			<hr>
			<p>Get in touch with me: g[at]pappas.sh</p>
		</main>
		<Footer />
	</body>
</html>
