---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Hello,</h1>
			<p>
				I am currently in school for software engineering, so there's little time for much else, but I thought it would be helpful to log my progress here. Eventually, I will list my resume along with some projects I've worked on. Right now there's nothing to really show, so I will fill the void with blog posts on what I learn week to week.
			</p>
		</main>
		<Footer />
	</body>
</html>
