---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "gregory pappas: home";
---
<BaseLayout pageTitle={pageTitle}>
    <h2>home</h2>
    <p>Content and stuff!</p>
</BaseLayout>
