---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h4>Welcome</h4>
			<p>
				My name is Greg Pappas, and I am a Full-Stack Developer Student @ Galvanize.
			</p>
			<p>
				I will occasionally be posting blogs on my progress to becoming a junior dev, as well as link some of my completed projects utilizing the full stack.
			</p>
			<hr>
			<h4>Projects</h4>
			<h5><a href="https://github.com/gnprwx/nullmb" target="_blank">null message board</a></h5>
			<p>is an anonymous message board, utilizing session-unique usernames to write posts.</p>
			<ul>
				<li>Front-end: HTML, CSS, JavaScript</li>
				<li>Back-end: Node, Express, PostgreSQL</li>
				<li>See it in action on <a href="https://nullmb.onrender.com/" target="_blank">Render</a></li>
			</ul>
			<hr>
			<h4>Skills</h4>
			<ul>
				<li>Current: HTML, CSS, JavaScript, Node, Express, Docker, PostgreSQL, Webpack, Git, Figma</li>
				<li>In progress: React, Astro, Vite, Typescript, C</li>
			</ul>
			<hr>
			<h4>Contact</h4>
			Get in touch with me: g[at]pappas.sh
		</main>
		<Footer />
	</body>
</html>
