---
import HeaderLink from './HeaderLink.astro';
const headFootBase = "bg-stone-950 border-b border-green-900 text-green-300 text-lg px-2 shadow-xl";
---

<header class={headFootBase}>
	<nav class="flex flex-col justify-center items-center">
		<div class="flex gap-3">
			<HeaderLink href="/">home</HeaderLink>
			<HeaderLink href="/blog">log</HeaderLink>
		</div>
	</nav>
</header>
