---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
<h2>{frontmatter.title}</h2>
<h3>{frontmatter.description}</h3>
<p>published {frontmatter.pubDate.slice(0, 10)} by {frontmatter.author}</p>
<hr>
<slot/>
<hr>
</BaseLayout>